In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
load_enrollment = os.path.join("enrollment_programs.csv")
load_scores = os.path.join("map_scores.csv")

In [3]:
enrollment_df = pd.read_csv(load_enrollment)
enrollment_df.head()

   student_id school_name  grade_level_2019 program_name
0       13898    School G                 1         SPED
1       27795    School G                 1         SPED
2       22938    School E                 1            .
3       22431    School F                 1            .
4       18048    School E                 1            .

In [4]:
map_scores_df = pd.read_csv(load_scores)
map_scores_df.head()

,student_id,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,2019,Fall,Reading,161,59,3,18
1,27795,2019,Fall,Reading,158,50,3,19
2,22938,2019,Fall,Reading,162,62,3,18
3,22431,2019,Fall,Reading,162,62,3,18
4,18048,2019,Fall,Reading,166,73,3,17

In [5]:
# merge into one dataframe
student_scores_complete_df = pd.merge(enrollment_df, map_scores_df, on = ["student_id", "student_id"])
student_scores_complete_df

,student_id,school_name,grade_level_2019,program_name,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,School G,1,SPED,2019,Fall,Reading,161,59,3,18
1,13898,School G,1,SPED,2019,Fall,Math,166,69,3,20
2,13898,School G,1,SPED,2019,Spring,Reading,175,43,2,.
3,13898,School G,1,SPED,2019,Spring,Math,186,65,3,.
4,27795,School G,1,SPED,2019,Fall,Reading,158,50,3,19
...,...,...,...,...,...,...,...,...,...,...,...
11113,24197,School D,8,.,2019,Spring,Math,226,40,2,.
11114,27656,School D,8,.,2019,Fall,Math,199,5,1,6
11115,27656,School D,8,.,2019,Spring,Math,.,.,.,.
11116,29777,School E,0,.,2019,Fall,Math,133,32,2,21
11117,29777,School E,0,.,2019,Spring,Math,.,.,.,.

In [6]:
# get number of schools
school_count = student_scores_complete_df["school_name"].unique()
school_count

array(['School G', 'School E', 'School F', 'School B', 'School C',
       'School D', 'School A'], dtype=object)

In [7]:
# get number of students
student_count = len(student_scores_complete_df["student_id"].unique())
student_count

2787

In [8]:
# check columns
student_scores_complete_df.columns

Index(['student_id', 'school_name', 'grade_level_2019', 'program_name', 'year',
       'map_term', 'subject', 'rit_score', 'percentile', 'quartile',
       'typical_fall_to_spring_growth'],
      dtype='object')

In [9]:
# check column types
student_scores_complete_df.dtypes

student_id                        int64
school_name                      object
grade_level_2019                  int64
program_name                     object
year                              int64
map_term                         object
subject                          object
rit_score                        object
percentile                       object
quartile                         object
typical_fall_to_spring_growth    object
dtype: object

In [10]:
#rit_scores = student_scores_complete_df["rit_score"].tolist()
#rit_scores

In [11]:
#delete the "." in program name
student_scores_complete_df["program_name"].replace(".","")

0        SPED
1        SPED
2        SPED
3        SPED
4        SPED
         ...
11113
11114
11115
11116
11117
Name: program_name, Length: 11118, dtype: object

In [12]:
# delete the "." in rit score
student_scores_complete_df["rit_score"].replace(".","")

0        161
1        166
2        175
3        186
4        158
        ...
11113    226
11114    199
11115
11116    133
11117
Name: rit_score, Length: 11118, dtype: object

In [13]:
# delete the "." in percentile
student_scores_complete_df["percentile"].replace(".","")

0        59
1        69
2        43
3        65
4        50
         ..
11113    40
11114     5
11115
11116    32
11117
Name: percentile, Length: 11118, dtype: object

In [14]:
# delete the "." in typical fall to spring growth
student_scores_complete_df["typical_fall_to_spring_growth"].replace(".","")

0        18
1        20
2
3
4        19
         ..
11113
11114     6
11115
11116    21
11117
Name: typical_fall_to_spring_growth, Length: 11118, dtype: object

In [15]:
student_scores_complete_df

,student_id,school_name,grade_level_2019,program_name,year,map_term,subject,rit_score,percentile,quartile,typical_fall_to_spring_growth
0,13898,School G,1,SPED,2019,Fall,Reading,161,59,3,18
1,13898,School G,1,SPED,2019,Fall,Math,166,69,3,20
2,13898,School G,1,SPED,2019,Spring,Reading,175,43,2,.
3,13898,School G,1,SPED,2019,Spring,Math,186,65,3,.
4,27795,School G,1,SPED,2019,Fall,Reading,158,50,3,19
...,...,...,...,...,...,...,...,...,...,...,...
11113,24197,School D,8,.,2019,Spring,Math,226,40,2,.
11114,27656,School D,8,.,2019,Fall,Math,199,5,1,6
11115,27656,School D,8,.,2019,Spring,Math,.,.,.,.
11116,29777,School E,0,.,2019,Fall,Math,133,32,2,21
11117,29777,School E,0,.,2019,Spring,Math,.,.,.,.

In [16]:
student_scores_complete_df['rit_score'] = student_scores_complete_df['rit_score'].astype(int)
student_scores_complete_df.dtypes

ValueError: invalid literal for int() with base 10: '.'

In [ ]:
#create blank columns for scores
#student_scores_complete_df["Fall Math Score"] = " "
#student_scores_complete_df["Spring Math Score"] = " "
#student_scores_complete_df["Fall Reading Score"] = " "
#student_scores_complete_df["Spring Reading Score"] = " "

#student_scores_complete_df

In [ ]:
# get number of years
year_count = student_scores_complete_df["year"].unique()
year_count

In [ ]:
#drop 'year' column
student_scores_complete_df = student_scores_complete_df.drop(columns = ["year"])
student_scores_complete_df

In [ ]:
# create dataframe for only math
all_math_scores_df = student_scores_complete_df[student_scores_complete_df["subject"]=="Math"]
all_math_scores_df

In [ ]:
#create dataframe for only reading
all_reading_scores_df = student_scores_complete_df[student_scores_complete_df["subject"]=="Reading"]
all_reading_scores_df

In [ ]:
#create DF for fall math scores
fall_math_scores_df = all_math_scores_df[all_math_scores_df["map_term"]=="Fall"]
fall_math_scores_df

In [ ]:
#create DF for spring math scores
spring_math_scores_df = all_math_scores_df[all_math_scores_df["map_term"]=="Spring"]
spring_math_scores_df

In [ ]:
#create DF for fall reading scores
fall_reading_scores_df = all_reading_scores_df[all_reading_scores_df["map_term"]=="Fall"]
fall_reading_scores_df

In [ ]:
#create DF for spring reading scores
spring_reading_scores_df = all_reading_scores_df[all_reading_scores_df["map_term"]=="Spring"]
spring_reading_scores_df

In [ ]:
#get column types
fall_math_scores_df.dtypes

In [ ]:
fall_math_scores_df['rit_score'].astype('int')

In [ ]:
# get average math score for fall
#average_fall_math_score = fall_math_scores_df["rit_score"].mean()
#average_fall_math_score